/*Reset CSS begins*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Reset CSS ends*/


/*Customized CSS*/
* {
    font-family: Open Sans Regular;
}
#navbar {
    background-color: #F5F6F8;
    width: 100%;
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.flexrow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: space-around;
   justify-content: space-around;
}
.nav-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 30px 0;
}

#try-it {
    background-color: orange;
    color: white;
    float: right;
    vertical-align: middle;
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.fat-col {
    width: 55%;
    float: left;
    padding: 0px 45px;
}
.thin-col {
    width: 23%;
    float: left;
    padding: 0px 45px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #333;
}
#body-section-1 {
    margin-top: 50px;
}
#body-section-1 h1 {
    margin-bottom: 30px
}
.fat-col p {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 18px;
    line-height: 1.6em;
}
.img-icon {
    margin: 40px 0 30px;
}
.thin-col p {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 16px;
    line-height: 1.6em;
    margin-top:10px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 16px;
}