* {
  margin: 0;
  padding: 0;
}

nav, section {
  /*display: inline-block;*/
}

nav {
  background-color: blue;
  width: 55px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

div.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section {
  background-color: green;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

}

img {
  width: 28px;
  height: 28px;
}

span {
  display: none;
}

span.expanded {
  display: block;
}
