* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #6D7993;
  width: 55px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

div.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav.expanded {
  width: 130px;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  padding: 5px 15px;
}

li:hover {
  background-color: #9099A2;
}

li.selected {
  background-color: #96858F;
}

i.fas:before {
  color: #D5D5D5;
  font-size: 24px;
}

span {
  display: none;
  color: #D5D5D5;
  padding-left: 15px;
}

nav.expanded span {
  display: block;
}

nav + section {
  position: absolute;
  left: 55px;
}

nav.expanded + section {
  position: absolute;
  left: 130px;
}
